body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

#search-form {
  margin: 20px;
}

#search-input, button {
  padding: 10px;
  font-size: 1em;
}

#current-image-container {
  margin-top: 20px;
  border: 2px solid #444;
  padding: 20px;
  background-color: #333;
}

#spacePic {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
  border-radius: 10px;
}

#search-history {
  list-style-type: none;
  padding: 0;
}

#search-history li {
  padding: 5px;
  cursor: pointer;
  color: #1e90ff;
}

#search-history li:hover {
  text-decoration: underline;
}
